@import './Nav.css';
@import './Fonts.css';
@import './Auth.css';

html, body { 
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(73, 148, 230); 
}
.app-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 625px;
    margin: auto;
}
.d-section-container {
    /* background-color: purple; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
